version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appointment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: nest_backend
    environment:
      DATABASE_URL: "postgres://admin:admin123@db:5432/appointment_db"
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data:

  # docker compose up -d